---
layout: default
---

<!-- 애니메이션으로 왼쪽메뉴가 커지면서 상단 이동 -->
<!-- 센터정렬하기 -->
<header>
  <h2>Post</h2>
  <p class="view">
    <a href="{{ site.baseurl }}/">Home</a>
    /<a href="{{ site.baseurl }}/about/">About</a>
    /<a href="{{ site.baseurl }}/books/">Books</a>
    /<a href="{{ site.baseurl }}/tags/">Tags</a>
  </p>
</header>

<section>
  {{ content }}
</section>

<footer>
  <p><small>Hosted on GitHub Pages &mdash; Theme by
    <a href="https://github.com/orderedlist">orderedlist</a></small>
  </p>
</footer>
